$theme-colors: (
	light: (
		text: #000000,
		background: #ffffff
	),
	dark: (
		background: #1B2B34,
		footer: #6699CC,
		title: #EC5f67,
		link: #5FB3B3,
		subtitle: #FAC863,
		section: #F99157,
		divider: #AB7967,
		darkgrey: #343D46,
		grey: #4F5B66,
		lightgrey: #65737E,
		lightestgrey: #A7ADBA,
		white: #D8DEE9,
		red: #EC5f67,
		orange: #F99157,
		yellow: #FAC863,
		lightgreen: #99C794,
		lightteal: #5FB3B3,
		lightblue: #6699CC,
		lightpink: #C594C5,
		brown: #AB7967
	)
);
