---
---

:root {
  --background: rgba(16, 25, 31, 0.95);
  --background-highlight: rgba(31, 45, 54, 0.95);
  // color scheme
  --titleteal: #70bbbb;
  --lightblue: #88b0d7;
  --yellow: #fcda95;
  --brown: #c39f92;
  --green: #a5cda0;
  --darkerblue: #6699cc;
  --gray: #bfc5ce;
  // vars expected by the rest of the styles
  --footer: var(--lightblue);
  --subtitle: var(--darkerblue);
  --social: var(--brown);
  --section: var(--green);
  --expander: var(--darkerblue);
  --body: var(--gray);
  --h1: var(--titleteal);
  --h2: var(--green);
  --h3: var(--brown);
  --h4: var(--darkerblue);
  --h5: var(--lightblue);
  --h6: var(--titleteal);
  --title-weight: 400;
  --secondary-weight: 300;
  --body-weight: 300;
  --image-filter: grayscale(50%);
}

// tone down images on dark mode
img:not([src*='.svg']) {
  filter: var(--image-filter);
}
