---
---

:root {
  --background: rgba(24, 38, 46, 0.95);
  --footer: #88b0d7;
  --title: #70bbbb;
  --subtitle: #fcda95;
  --link: #c39f92;
  --section: #a5cda0;
  --expander: #6699cc;
  --body: #d8dee9;
  --title-weight: 400;
  --secondary-weight: 300;
}
