---
---

:root {
  --background: rgba(230, 231, 231, 0.95);
  --footer: #008f8f;
  --title: #063f3f;
  --subtitle: #3b7a33;
  --link: #008f8f;
  --section: #063f3f;
  --expander: #008f8f;
  --body: #063f3f;
  --title-weight: 500;
  --secondary-weight: 400;
}
