---
---

:root {
  --background: rgba(236, 251, 251, 1);
  --background-highlight: rgb(224, 241, 241);
  // color scheme
  --titleteal: #408686;
  --blue: #5385b6;
  --yellow: #c4894f;
  --brown: #864040;
  --green: #518b49;
  --gray: #0c1a1a;
  // vars expected by the rest of the styles
  --footer: var(--blue);
  --subtitle: var(--yellow);
  --social: var(--brown);
  --section: var(--green);
  --expander: var(--blue);
  --body: var(--gray);
  --h1: var(--titleteal);
  --h2: var(--green);
  --h3: var(--yellow);
  --h4: var(--brown);
  --h5: var(--blue);
  --h6: var(--titleteal);
  --title-weight: 500;
  --secondary-weight: 400;
  --body-weight: 400;
}
