---
---

$mono-font: 'Source Code Pro', monospace;
$body-font: 'Source Serif Pro', sans-serif;
$small-screen: 700px;
$duration: 0.5s;
$timing: ease;
$default-spacing: 2em;
$smallest-font-size: 0.8em;
$smaller-font-size: 1em;
$small-font-size: 1.2em;
$font-size: 1.4em;
$medium-font-size: 1.6em;
$large-font-size: 1.8em;
$larger-font-size: 2.1em;
$largest-font-size: 2.5em;
$title-font-size: 4em;

@import '_base.scss';
@import '_syntax.scss';

// styles specific to the front page
.frontpage {
  h1 {
    font-size: $title-font-size;
    line-height: 1;
    margin-bottom: 1.5rem;
    @media (max-width: $small-screen) {
      font-size: $title-font-size * 0.8;
    }
  }

  h2 {
    a {
      text-decoration: none;
    }
  }

  p {
    margin-top: 1em;
  }

  .subtitle {
    font-size: $smaller-font-size;
  }
}

span.expander {
  font-family: $mono-font;
  color: var(--expander);
  transition: color $duration $timing;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  &.rotated {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    vertical-align: sub;
  }
}

a#email-clipper {
  cursor: pointer;
}

#clipper-confirm {
  display: none;
  color: var(--subtitle);
  transition: color $duration $timing;
}
