---
---

$mono-font: 'Source Code Pro', monospace;
$body-font: 'Montserrat', sans-serif;
$small-screen: 700px;
$duration: 0.5s;
$timing: ease;
$default-spacing: 2em;
$smallest-font-size: 0.9em;
$small-font-size: 1.2em;
$font-size: 1.7em;
$medium-font-size: 2em;
$mediumer-font-size: 2.25em;
$large-font-size: 2.5em;
$larger-font-size: 2.75em;
$largest-font-size: 3em;

@import '_base.scss';
@import '_syntax.scss';

// styles specific to the front page
.frontpage {
  font-family: $mono-font;

  h1 {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  h2 {
    color: var(--section);
    cursor: pointer;
    font-size: $font-size;
    margin: 0.5em 0 0 0;
  }

  h3 {
    text-transform: none;
    color: var(--subtitle);
    transition: color $duration $timing;
    font-size: 1.2em;
    line-height: 2em;
  }

  p {
    margin-top: 1em;
  }

  span.expander {
    font-family: $mono-font;
    color: var(--expander);
    transition: color $duration $timing;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    &.rotated {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      display: inline-block;
      vertical-align: sub;
    }
  }

  .section-body {
    max-width: 650px;
    -moz-transition: height 0.2s ease-in;
    -ms-transition: height 0.2s ease-in;
    -o-transition: height 0.2s ease-in;
    -webkit-transition: height 0.2s ease-in;
    transition: height 0.2s ease-in;
    height: 0;
    overflow: hidden;
  }

  a#email-clipper {
    cursor: pointer;
  }

  #clipper-confirm {
    display: none;
    color: var(--subtitle);
    transition: color $duration $timing;
  }

  .links {
    font-family: $mono-font;
    margin-top: 0;
    a {
      color: var(--social);
    }
  }

  .subtitle {
    font-size: 1em;
  }
}
