---
layout: 'default'
title: 'Projects'
---

{% include shared/nav.html current="projects" %}

<h1>projects</h1>

<p class="subtitle"></p>

<hr>

{% for project in site.projects %}
{%- capture formatted_links -%}
{%- for link in project.links -%}
{%- include shared/external_link.html url=link.url title=link.title -%}
{%- if forloop.last != true -%},&nbsp;{%- endif -%}
{%- endfor -%}
{%- endcapture -%}

<h5>{{ project.title }}</h5>

<p class="meta index">{{ project.year }} | {{ formatted_links | strip_newlines }}</p>

<p>{{ project.blurb }}</p>
{% endfor %}
