---
layout: 'default'
title: 'Writing'
---

{% include shared/nav.html current="writing" %}

<div class="container space-below">
  <h1>{{ site.author.name }}</h1>
  <p class="subtitle">{{ site.description }}</p>

  <hr>

  {% for post in site.posts %}
  <h2>
    <a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }} {% endif %}</a>
  </h2>
  {{ post.excerpt }}

  <p class="meta"><em>{{ post.date | date_to_string: "ordinal", "US" }}</em> | <a href="{{ post.url }}">More >></a></p>

  <p class="mobile-only">---</p>
  {% endfor %}
</div>
