<!-- browser stuff -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- site info -->
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ site.url }}/n/">

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#10212a">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#10212a">
<meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
<meta name="theme-color" content="#10212a">

<!-- styles -->
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400" rel="stylesheet">
<link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

<!-- make sure the page is still usable when Javascript is disabled -->
<noscript>
	<style>
		.section-body {
			height: auto !important;
			overflow: visible !important;
		}
	</style>
</noscript>
