<div id="main">
	<h1>{{ site.author.name }}</h1>
	<h4>{{ site.description }}</h4>
	<!-- <span>----------</span> -->
	<p>
		{% include pagecontent/links.html %}
	</p>
	<!-- <span>----------</span> -->
	
	<h2><span>>></span> whoami</h2>
	
	<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
	
	<h2><span>>></span> Projects</h2>
	
	<!-- <h3>CoverallsMulti</h3>
	<p>blurb and link to the thing here</p>
	
	<h3>What's On Netflix</h3>
	<p>blurb and link to the thing here</p>
	 -->
	<h2><span>>></span> Writings</h2>
	
	<!-- <a href="#">A Link To a Blog Post Somewhere</a> -->

	<!-- <a href="https://revelry.co/about/cjhorton/" target="_blank" rel="noopener noreferrer">
		revelry.co
	</a> -->
	
	<h2><span>>></span> Get in Touch</h2>
	
	<!-- <p>Email; plug linkedin and twitter again.</p> -->
	
	{% include pagecontent/footer.html %}
</div>
