<p>I have a somewhat unusual background for a developer. Some fun facts about me:</p>

<ul>
	<li>I have a music degree</li>
	<li>I used to supervise the night shift at a pet boarding facility</li>
	<li>I also used to teach tech literacy sessions at a public library</li>
	<li>I used to do decent business as a freelancer cleaning up converted ebook files for small publishers</li>
</ul>

<p>As a programmer, I've worked all across the stack, from fixing IE10 bugs in a React component library to tracking down race conditions in a Redis email queue to diagnosing problems with a git-based deploy tool for Kubernetes. I've also worked in a decent variety of languages and frameworks, but Ruby, Elixir, Node, and React are my main jams.</p>

<p>I like making stuff and solving problems for the people around me. I care a lot about testing, UX and DX, and the history of computing and the tech industry (those who don't learn from history, etc, etc).</p>

<p>When not at my laptop, I'm usually reading scifi or submitting to the whims of Shuri, my local feline overlord.</p>
