<p>I have a bit of an unusual background for a developer. Some fun facts about me:</p>

<ul>
	<li>I have a music degree</li>
	<li>I did a stint as a library tech in a public library in New Orleans</li>
	<li>I once worked the night shift at a pet boarding facility</li>
	<li>I ran a small business for several years processing and cleaning up ebook files for small publishers</li>
</ul>

<p>As a programmer, I've worked all across the stack, from fixing IE10 bugs in a React component library to tracking down race conditions in a Redis email queue. I've also worked in a decent variety of languages, but Ruby, Elixir, Node, and React are my main jams.</p>

<p>I care a lot about testing, UX for both developers and end users, and the history of computing and the tech industry (those who don't learn from history, etc, etc).</p>
