<p>I have an unusual background for a developer. Or really for anyone. Some fun facts about me:</p>

<ul>
	<li>I've read Dante's <em>Inferno</em> in the original 14th century Italian</li>
	<li>I once worked the night shift at a doggy daycare</li>
	<li>I've performed with a professional symphony orchestra</li>
	<li>I used to teach basic computer and web literacy ("This is a mouse. This is a cursor. This is a malicious spam ad, don't click that.") at a public library</li>
</ul>

<p>As a programmer, I've worked all across the stack, from fixing IE10 bugs in a React component library to tracking down race conditions in a Redis email queue to diagnosing problems with a git-based deploy tool for Kubernetes. I've also worked in a decent variety of languages and frameworks, but Ruby, Elixir, Node, and React are my main jams.</p>

<p>I like making stuff and solving problems for the people around me. I care a lot about testing, UX and DX, and the history of computing and the tech industry (those who don't learn from history, etc, etc).</p>

<p>When not at my laptop, I'm usually reading scifi or submitting to the whims of Shuri, my local feline overlord.</p>
