<!-- browser stuff -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- site info -->
<meta name="author" content="{{ site.author.name }}" />
<title>{% if page.title %} {{ page.title | strip_html | strip_newlines | truncate: 160 }} | {% endif %} {{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<!-- open graph and social tags -->
<meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:site" content="@radditude" />
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

{% if page.title %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{page.date}}" />

<meta property="article:author" content="{{ site.author.name }}" />
<meta property="article:publisher" content="{{ site.author.name }}" />

<!-- Bring this back when I implement categories for real. -->
<!-- {% for tag in page.categories %} -->
<!-- <meta property="article:tag" content="{{tag}}" /> -->
<!-- {% endfor %} -->

<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="@radditude" />
<meta name="twitter:title" content="{{page.title}}" />

{% if page.image %}
<meta property="og:image" content="{{page.image}}" />
<meta name="twitter:image" content="{{page.image}}" />
{% else %}
<meta property="og:image" content="/images/default.png" />
<meta name="twitter:image" content="/images/default.png" />
{% endif %}

{% else %}
<!-- OG data for homepage -->
<meta property="og:image" content="/images/default.png" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{site.title}}" />
<meta name="twitter:image" content="/images/default.png" />
{% endif %}

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">
<meta name="theme-color" content="#10212a">


<!-- fonts-->
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500|Source+Serif+Pro" rel="stylesheet">

<!-- light and dark mode styles -->
<script>
  // If `prefers-color-scheme` is not supported, fall back to dark mode.
  if (window.matchMedia('(prefers-color-scheme)').media === 'not all') {
    document.documentElement.style.display = 'none';
    document.head.insertAdjacentHTML(
      'beforeend',
      '<link rel="stylesheet" href="{{ "/css/dark.css" | prepend: site.baseurl }}" onload="document.documentElement.style.display = ``">'
    );
  }
</script>
<link rel="stylesheet" href="{{ "/css/dark.css" | prepend: site.baseurl }}" media="(prefers-color-scheme: no-preference), (prefers-color-scheme: dark)">
<link rel="stylesheet" href="{{ "/css/light.css" | prepend: site.baseurl }}" media="(prefers-color-scheme: light)">
<link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

<!-- make sure the page is still usable when Javascript is disabled -->
<noscript>
  <style>
    .section-body {
      height: auto !important;
      overflow: visible !important;
    }

    #toggle {
      display: none;
    }
  </style>
</noscript>
