---
layout: default
---
<p class="nav">
  <a href="/n/" class="nav">
    home
  </a>
</p>

<h1>{{ page.title }}</h1>
{% if page.subtitle %}<h4>{{ page.subtitle}}</h4>{% endif %}

<p class="meta">
  {{ site.author.name }} | {{ page.date | date_to_string: "ordinal", "US"}}
</p>

{{ content }}

<hr>

<p class="meta">
  {% if page.previous.path %}
  <a href="{{page.previous.url}}">
    << older</a> |
      {% endif %}
      <a href="/n/">all posts</a>
      {% if page.next.path %}
      | <a href="{{page.next.url}}">newer >></a>
      {% endif %}
</p>
